.inputContainer{
    width: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.inputbox{
    width: 100%;
    display: flex;
    
    justify-content: space-between;
}
.inputbox input{
    width: 65%;
   padding-top: 30px;
    background-color: transparent;
    border-bottom: 1px solid white !important;
    outline: none;
    border: none;
    color: white;
}
.inputbox button{
    background-color: #829F9A;
    border: none;
    outline: none;

    padding:20px;
}
.cities{
    padding: 0;
    margin-top: 0px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-right: 30px;
}
.cities ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 180px;
    
}
.cities ul li {
    color: gray;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}
.cities ul li:hover{
    color:white;
    background-color: gray;
    padding: 10px;
}
.Wheatherdetails{
    display: flex;
    flex-direction: column;
     color: gray;
     margin-bottom: 50px;
     padding-bottom: 10px;
   
     border-bottom: 1px solid white;
     margin-right: 30px;
}
.w-details p{
    display: flex;
    justify-content: space-between;

}
.w-details p span:nth-child(2){
    color:white;
    font-weight: bold;
}
